body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  font-family: 'Playfair Display SC', serif;
  color: #D4AF37;
  position: absolute;
  top: 10%;
  width: 37%;
}

h1 span {
   color: white;
   font: bold 65px 'Playfair Display SC', serif;
   letter-spacing: 3px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   background-color: transparent;
   padding: 10px;
}

p {
  font-family: 'Libre Baskerville', serif;
  letter-spacing: 0px;
  font-size: 120%
}

.form_1{
  position: absolute;
  top: 45%;
  width: 35%;
}

.form_span1 {
   color: white;
   font: bold 24px/45px 'Lora', serif;
   letter-spacing: -1px;
   background: rgb(0, 0, 0, .1); /* fallback color */
   background: rgba(0, 0, 0, 0.9);
   background-color: transparent;
}

.button{
  font-family: 'Lora', serif;
   background-color: transparent;
   font-size: 80%;
}

.itemImage{
  max-height: auto;
  width: 20%;
}

.item{
  max-height: 100px;
  width: auto;
}

.search_result_page{
  width: 50%;
  margin: 0 auto;
  font: bold 24px/45px 'Lora', serif;
  font-size: 200%;
}

.item_name{
  font-size: 130%;
}


#search_1{
  font-size: 80%;
  font-family: 'Lora', serif;
  margin: 0 auto;
}

#search_2{
  font-size: 80%;
  font-family: 'Lora', serif;
  border: thin solid lightgrey;
}

#image {
    height: auto;
    width: auto;
    max-width: 100%;
}

#shoe {
   position: relative;
   width: 100%; /* for IE 6 */
}

font-family: 'Bungee Hairline', cursive;
font-family: 'Pompiere', cursive;
font-family: 'Bungee', cursive;
font-family: 'Yatra One', cursive;
font-family: 'Rakkas', cursive;
font-family: 'Londrina Outline', cursive;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Lora', serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Cinzel', serif;
font-family: 'Domine', serif;
font-family: 'Playfair Display SC', serif;
font-family: 'Sorts Mill Goudy', serif;
font-family: 'Cantata One', serif;
